<app-headeradmin></app-headeradmin>

<div class="container">
  <div class="row mt-5 mb-5">
    <h2>Lista de Doctores</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Doctor</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Rut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Maximiliano Salinas Cabrera</td>
          <td>Masoterapeuta</td>
          <td>20.326.019-3</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Marcelo Ambrosetti Bustos</td>
          <td>Proctólogo</td>
          <td>19.975.530-7</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Yerko Gonzales Rubilar</td>
          <td>Cirujano</td>
          <td>20.419.449-1</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Daniel Miranda Tobar</td>
          <td>Nutriólogo</td>
          <td>20.326.610-3</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Javier Oyarzo Alfaro</td>
          <td>Psicólogo</td>
          <td>19.942.808-k</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Wenceslao Palma Carrasco</td>
          <td>Medico General</td>
          <td>20.567.580-9</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Pedro Quiroz Martinez</td>
          <td>Radiólogo</td>
          <td>11.780.820-3</td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>

<!-- <div class="container">
    <div class="row mt-5 mb-5">
      <h1>Lista de Doctores</h1>
      <div class="col mt-5">
        <h2>Nombres</h2><br><br>
        <h5>Maximiliano Salinas Cabrera</h5><br>
        <h5>Marcelo Ambrosetti Bustos</h5><br>
        <h5>Yerko Gonzales Rubilar</h5><br>
        <h5>Daniel Miranda Tobar</h5><br>
        <h5>Javier Oyarzo Alfaro</h5><br>
        <h5>Wenceslao Palma  Carrasco</h5><br>
        <h5>Pedro Quiroz Martinez</h5><br>
      </div>
      
      <div class="col mt-5">
        <h2>Especialidades</h2><br><br>
        <h5>Masoterapeuta</h5><br>
        <h5>Proctólogo</h5><br>
        <h5>Cirugía </h5><br>
        <h5>Nutriólogo</h5><br>
        <h5>Psicólogo</h5><br>
        <h5>Medico General</h5><br>
        <h5>Radiólogo</h5><br>
      </div>

      <div class="col mt-5">
        <h2>RUT</h2><br><br>
        <h5>20.326.019-3</h5><br>
        <h5>19.975.530-7</h5><br>
        <h5>20.419.449-1</h5><br>
        <h5>20.326.610-3</h5><br>
        <h5>19.942.808-k</h5><br>
        <h5>20.567.580-9</h5><br>
        <h5>11.780.820-3</h5><br>
      </div>

    </div> 
  </div> -->
