<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block"></div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a class="me-4 text-reset">
          <span>Contáctanos a nuestras redes sociales: </span>
        </a>
        
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Los Resucitados de Yisus
            </h6>
            <p>
              Somos una clínica encargada de entregar salud de calidad a bajos precios,
              amigables y confiables :)
            </p>
          </div>

          <!-- Grid column -->

          
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Acerca de este sitio
            </h6>
            <p>
              <a href="#!" class="text-reset">Términos y Condiciones</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contactanos
            </h6>
            <p><i class="fas fa-home me-3"></i> Av. SiempreViva, 742, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>LosResucitadosDeYisus@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 56 9 300 200 900</p>
            <p><i class="fas fa-print me-3"></i> + 56 9 400 300 800</p>
          </div>
          <!-- Grid column -->

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              Horario de atención
            </h6>
            <p>
              <b>Lunes a viernes:</b> <br> 
              8:00 - 12:00 <br> 14:00 - 18:00 <br>
              <b>Festivos:</b><br> 
              10:00 - 14:00
            </p>
          </div>
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Derechos Reservados "Clínica Los Resucitados de Yisus"
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/%22%3EMDBootstrap.com"></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
