<app-headeradmin></app-headeradmin>

<div class="container">
  <div class="row mt-5 mb-5">
  <table class="table">
   <thead>
     <tr>
       <th scope="col"></th>
       <th scope="col">Usuario</th>
       <th scope="col">email</th>
     </tr>
    </thead>
    <tbody>
      <tr>
       <th scope="row">1</th>
       <td>Felipe Gonzalez Rubilar</td>
       <td>felipegonr@gmail.com</td>
     </tr>
      <tr>
        <th scope="row">2</th>
       <td>David Miranda Tobar</td>
       <td>davidmirt@gmail.com</td>
     </tr>
      <tr>
       <th scope="row">3</th>
       <td>Juan Soto Oyarzo</td>
       <td>lolderman1450xp@gmail.com</td>
      </tr>
   </tbody>
  </table>
  </div> 
</div>
